%table.table-bordered
  %tr
    %td
    - event.time_fields.times do |index|
      %td
        = duration.get_hour_from_index index
  - event.users_events.each do |users_event|
    %tr
      %td= users_event.user.email
      - users_event.availability.each do |av_val|
        %td
          %span.glyphicon{ class: "glyphicon-#{users_event.decorate.cell_from_availability(av_val)}" }
  %tr
    %td
    - event.time_fields.times do |index|
      %td
        = check_box_tag "field#{index}"